{% extends 'base.html.twig' %}
{% block body %}
    <div class="card" style="margin-top: 3em;">
        <div class="card-header">
            {{ product.name }}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Prix : {{ product.price | number_format(2, '.', ' ')}} €</li>
            <li class="list-group-item">
                Catégorie(s) :
                {% for category in product.categories %}
                    {{ category.name }}
                {%  endfor %}
            </li>
            <li class="list-group-item">Activé : {{ product.active ? "Oui" : "Non" }}</li>
        </ul>
    </div>
{% endblock %}